/*---320px---*/

@media (min-width: 320px) {
  .footer {
    &__inner {
      padding: 34px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__to_top_btn {
      font-family: 'Geometria', Arial, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #ffffff;
      position: relative;
      &:hover {
        color: $accent;
      }
      &:before, &:after {
        position: absolute;
        content: '';
      }
      &:after {
        right: -7px;
        top: 0;
        width: 1px;
        height: 90%;
        background-color: #ffffff;
      }
      &:before {
        right: -10px;
        top: -2px;
        border-left: 3.5px solid transparent;
        border-right: 3.5px solid transparent;
        border-bottom: 7px solid #ffffff;
      }
    }
  }
}

/*------------*/
