body {
  font-family: 'Geometria', Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #060606;
  color: #FFFFFF;
  &.active {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 21px;
}

.title {
  font-family: 'Acworth', Arial, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/*---320px---*/

@media (min-width: 320px) {
  body {
    font-size: 9px;
    line-height: 11px;
  }
  .title {
    font-size: 42px;
    line-height: 46px;
  }
  .logo {
    font-family: 'KyivType Sans', Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 8px;
    line-height: 10px;
    color: inherit;
  }
  .soc_list {
    display: flex;
    align-items: center;
    &__item {
      margin-right: 20px;
    }
    &__link {
      &:hover {
        g {
          transition: .2s;
          fill: #ffffff;
        }
      }
    }
  }
  .send-form {
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: #60F5FF;
    box-shadow: 0px 0px 0px 0.5px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    line-height: 13px;
    color: #060606;
    font-weight: 700;
    border-radius: 5px;
    opacity: 0;
  }
  .send-form-appear {
    animation: send-form-appear 3s forwards;
  }
  .hidden {
    display: none;
  }
  @keyframes send-form-appear {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }
    20% {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
    70% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

/*------------*/

/*---375px---*/

@media (min-width: 375px) {
  .logo {
    font-size: 10px;
    line-height: 12px;
  }
}

/*------------*/

/*---426px---*/

@media (min-width: 426px) {
  .logo {
    font-size: 18px;
    line-height: 22px;
  }
}

/*------------*/

/*---568px---*/

@media (min-width: 568px) {
  .send-form {
    width: 300px;
    height: 250px;
    font-size: 15px;
    line-height: 15px;
  }
}

/*------------*/

/*---768px---*/

@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 23px;
  }
  .title {
    font-size: 55px;
    line-height: 66px;
  }
  .soc_list {
    &__item {
      margin-right: 30px;
    }
  }
}

/*------------*/

/*---910px---*/

@media (min-width: 910px) {

}

/*------------*/

/*----------------------*/

/*---1200px---*/

@media (min-width: 1200px) {
  .title {
    font-size: 80px;
    line-height: 88px;
  }
}

/*------------*/
