/*---320px---*/

@media (min-width: 320px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 22px 0;
    }
  }
}

/*-----------*/

/*--max-width: 767px-------*/

@media (max-width: 767px) {
  .menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    transition: .4s;
    overflow: auto;
    padding: 120px 10px 20px;
    opacity: 0;
    background-color: $accent;
    z-index: 0;
    &.active {
      transform: translateX(-100%);
      opacity: 1;
    }
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__item {
      margin: 20px;
    }
    &__link {
      font-family: 'Geometria', Arial, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 18px;
      line-height: 23px;
      color: $black;
    }
    &__burger {
      z-index: 1;
      cursor: pointer;
      display: block;
      width: 20px;
      height: 15px;
      position: relative;
      background-color: transparent;
      &:after,
      &:before,
      span {
        transition: .4s;
        position: absolute;
        content: '';
        background-color: #ffffff;
        height: 2.22px;
        right: 0;
      }
      &:after {
        width: 7px;
        top: 0;
      }
      &:before {
        width: 12px;
        bottom: 0;
      }
      span {
        width: 16px;
        top: 7px;
      }
      &.active:after,
      &.active:before,
      &.active span {
        background-color: $black;
      }
    }
  }
}

/*----------------*/

/*---min-width: 767px-----*/

@media (min-width: 767px) {
  .menu {
    &__burger {
      display: none;
    }
    &__list {
      display: flex;
    }
    &__item {
      margin: 0 10px;
    }
    &__link {
      font-family: 'Geometria', Arial, sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 18px;
      line-height: 23px;
      color: #ffffff;
      transition: .2s;
      &:hover {
        color: $accent;
      }
    }
  }
}

/*------------*/
