/*---320px---*/

@media (min-width: 320px) {
.home {
  margin: 65px 0 0 0;
  &__inner {
    position: relative;
    padding: 30px 0;
    min-height: 80vh;
    display: flex;
    align-items: center;
    background: url("../images/mobile_bg.jpg") no-repeat center center;
    background-size: cover;
  }
  &__title {
    span {
      color: $accent;
    }
  }
}
}

/*------------*/

/*---768px---*/

@media (min-width: 768px) {
  .home {
    &__inner {
      background: url("../images/desktop_bg.jpg") no-repeat center center;
      background-size: cover;
    }
  }
}

/*------------*/

/*--------415px--------------------------------*/

@media (max-height: 415px) and (orientation: landscape) {
  .home {
    &__inner {
      min-height: 70vh;
    }
  }
}

/*---------------------------------------------*/
