$accent: #60F5FF;
$black: #060606;

%links {
  font-family: 'Geometria', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
}

%logo {
  font-family: 'KyivType Sans', Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
}

%btn {
  font-family: 'Geometria', Arial, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  color: $black;
}
